{% extends "bootstrap/base.html" %}

{% block title %}Tweet Speech{% endblock %}

{% block styles %}
{# overriding bootstrap css - there's probably a better way to do this #}
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="icon" href="{{url_for('static',filename='images/twitter.png')}}"/>
{% endblock styles %}

{% block metas %}
  {{super()}}
{% endblock metas %}

{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}

  {% block flasher %}
    {%include "flasher.html" ignore missing %}
  {% endblock %}

  {% block main_content %}
  {% endblock %}


  {% block footer %}
    {% include "footer.html" ignore missing %}
  {% endblock %}

  {% block debug %}
    {% include "debug.html" %}
  {% endblock %}

{% endblock %}

{% block scripts %}
  {{super()}}
{%endblock scripts%}
