{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        {{
          wtf.quick_form(
            form=form,
            form_type='basic',
            button_map={'submit': 'primary'}
          )
        }}
        <button
          type="button"
          class="btn btn-info"
          onClick="javascript: request_location()"
        >
          Get Location
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
  <script src="{{url_for('static', filename='js/location.js')}}"></script>
{% endblock page_scripts %}
