{% extends "base.html" %}

{% block main_content %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center text-primary">
        Tweet Speech
        <br/>
        <small>Monitor Twitter and read live, streaming tweets aloud</small>
      </h2>
    </div>
  </div>
  <!--open new container for base template-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-muted">Twitter Integration</h3>
        <div>
          Integrated with your Twitter account. To make it easy to log in, and
          keep track of your streams. We'll never tweet without your permission.
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="text-muted">Flexible Search</h3>
        <div>
          Allows searching based on one or more keywords or hashtags. As well as
          limiting your searches geographically to really focus in on the tweets
          that you and your audience are interested in.
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="text-muted">Lorem Ipsum</h3>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio
          nisl, aliquam eget sapien eleifend, mattis imperdiet nunc. 
        </div>
      </div>
    </div>
  </div>
{% endblock %}
