{% extends "base.html" %}

{% block main_content %}
  <div class="center jumbotron">
    <h1>Tweet Speech</h1>

    <p>
      Select keywords and geographic location to pull live,
      streaming tweets as they happen and have them read by
      your computer. Perfect for art projects, or making
      it sound like someone is home when &mdash; really &mdash; no one is
      home!
    </p>
    <p>
      To get started
      <a href="{{url_for('users.login')}}">
        <img
          src={{url_for('static',filename='images/sign-in-with-twitter-gray.png')}}
          alt='Sign in with Twitter'
        />
      </a>
    </p>

  </div>
{% endblock %}
